@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    
    background: linear-gradient(to left, rgba(216, 201, 133, 0.829), rgba(207, 170, 7, 0.678));
}

#card-title {
    margin: 20px;
    font-family: "Poppins", sans-serif;
    color: rgb(117, 229, 25);
}


.card {
    border-radius: 30px;
    margin: 15px;
    padding: 8px;
    border-radius: 20px;
    --border-size: 2px;
    --border-angle: 0deg;
    transition: transform 0.3s ease; 
    transform-style: preserve-3d; 
    perspective: 1000px;
    background-image: conic-gradient(from var(--border-angle), rgb(17, 51, 31), rgb(18, 39, 19) 50%, rgb(31, 51, 17)),
        conic-gradient(from var(--border-angle), transparent 20%, rgb(245, 209, 6), rgba(82, 250, 5, 0.801));
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 20s linear infinite;
    transition: --border-angle 1s ease;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

header {
    background: linear-gradient(to right, rgb(0, 128, 43), rgb(52, 133, 102));
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.head {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: gold;
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgb(46, 245, 6);
}
.title{
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
}

p {
    color: rgb(243, 248, 245);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

  .button-container {
    display: flex; 
    justify-content: space-evenly;
    gap: 10px; 
    margin: 10px;
}

.email,
.icons {
    color: rgba(226, 226, 40, 0.904);
}

/* Sections */
.about,
.projects,
.contact {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(0, 128, 43), rgb(52, 133, 102));
}
/* Footer */
footer {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #006400;
    background: linear-gradient(to right, rgb(0, 128, 43), rgb(52, 133, 102));
}

